<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sign in</title>
    <link rel="stylesheet" href="../static/css/pico.min.css" th:href="@{css/pico.min.css}"/>
</head>
<body>
<main class="container">
    <article class="grid" style="max-width: 500px; margin: 0 auto;">
        <div>
            <hgroup>
                <h2>Sign in</h2>
                <p>Sign in with admin:admin or user:user </p>
            </hgroup>
            <form th:action="@{/login}" method="post">
                <input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" required autofocus/>
                <input type="password" name="password" placeholder="Password" aria-label="Password" required/>
                <input type="submit" value="Sign in"/>
            </form>
        </div>
    </article>
</main>
</body>
</html>